h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

header {
    background-color: rgb(8, 49, 8);
    color: goldenrod;

}

.slider-frame {
    width: 80%;
    height: 600px;

    overflow: hidden;


}

.slider-frame ul {
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 290%;
}

.slider-frame li {
    list-style: none;
    width: 100%;
}

.slider-frame img {
    width: 100%;
    height: 100%;

}

@keyframes cambio {
    5% {
        margin-left: 0%;
    }

    30% {
        margin-left: 0%;
    }

    35% {
        margin-left: -100%;
    }

    60% {
        margin-left: -100%;
    }

    65% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }
}

main {
    background-color: rgb(81, 126, 81);

}


body {
    font-family: 'Satisfy', cursive;
}

.p1 {
    color: black;
    border: black, 5px, yellow;
}

.nav {
    background-color: rgb(81, 126, 81);
    color: goldenrod;
    text-decoration: none;
    text-align: justify;
    padding: 3px;
    border-radius: 3px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

aside {
    text-align: right;
}

.container {
    display: grid;
}